.box {
  box-shadow: 1px 1px 5px #888;
  border: 1px solid #C3D9FF;
  border-radius: 10px;
  background-color: white;
  width: 25px;
  height: 25px;
  margin: 0px;
  cursor: pointer;
}

.box.guessed {
  color: red; 
}

.box.done {
  color: #000;
  cursor: default;
}

.box.showing {
  background-color: yellow;
}

.box span {
  font-size: 13pt;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em #aaa;
  text-align: center;
  width: 100%;
  line-height: 25px;
  display: none;
  float: left;
}

.box.guessed span.guessed, .box.done span.done {
  display: block;
}

.gapRight {
  margin-right: 10px;
}

.gapBottom {
  margin-bottom: 10px;
}