ul.guesses {
  position: absolute;
  padding: 0px;
  margin: 0px;
}

ul.guesses li {
  display: inline-block;
  background-color: white;
  border: solid 2px #888;
  padding: 5px;
  margin: 2px;
  box-shadow: 3px 3px 5px #888;
border-radius: 10px;
  cursor: pointer;
}

ul.guesses li:hover {
  background-color: yellow;
  font-weight: bold;
}