body {
  font-family: verdana;
}

#title {
  box-shadow: 1px 1px 5px #888;
  text-shadow: 0.1em 0.1em 0.2em black;
  border-radius: 3px;
  color: whitesmoke;
  background-color: #C3D9FF;
  padding: 0px 10px 0px 10px;
  margin: 10px;
  text-align: center;
}

#totalclicks {
  vertical-align: bottom;
  padding: 10px;
}

.inline {
  display: inline-block;
}

